[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/enoki"]
	path = thirdparty/enoki
	url = https://github.com/mitsuba-renderer/enoki.git
[submodule "plugin/bazen"]
	path = plugin/bazen
	url = git@github.com:joeyskeys/bazen.git
